Lab3/Zad1/Zad1.dtd

<!ELEMENT glowny (
        (podrzedny,podrzedny,podrzedny,podrzedny,podrzedny),
        ( (pierwszy,pierwszy,pierwszy?),(drugi,drugi,drugi?) ),
        ( (parzysty,parzysty)* | ((nieparzysty,nieparzysty)*, (parzysty)) )
        )>

<!ELEMENT podrzedny ANY>
<!ELEMENT pierwszy ANY>
<!ELEMENT drugi ANY>
<!ELEMENT parzysty ANY>
<!ELEMENT nieparzysty ANY>
